<!DOCTYPE html>
<html lang="en">

<head>
    <title>MNC - À propos de nous</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9ab0389e11.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link href="cssStyle.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="MobileMenu.js"></script>
    <style>
        .picture-left {
            float: left;
            width: 15%;
            border-radius: 40%;
        }

        .flotte {
            float: left;
        }

        .picture-zone {
            padding: 50px;
        }

        .paragraph-right {
            margin-top: 20px;
            text-align: justify;
        }
    </style>
</head>

<body>
    <div class="BarMenu" id="myBarMenu">
        <a href="index.html"><strong>MNC</strong></a>
        <a href="coups-de-coeur.html">Coups de coeur</a>
        <a href="evenements.html">Événements</a>
        <a href="suggestions.html">Suggestions</a>
        <a href="a-propos.html" class="active">À propos</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <h1 align="center">Qui sommes-nous ?</h1>
    <h4 align="center">2 étudiants en école d'ingénieur à EFREI Paris</h4>
    <p align="center"><i>Site réalisé dans le cadre du projet de ML in Production en M2.</i></p>

    <div class="picture-zone">
        <img src="img/avatar1.png" class="picture-left" />
        <div class="paragraph-right">
            <h2>&emsp;Julien Vieillevigne</h2>
            <p>Julien, un véritable mélomane, est passionné par la musique pop depuis son plus jeune âge. Sa playlist est un véritable voyage à travers les mélodies entraînantes, les refrains accrocheurs et les sonorités joyeuses qui caractérisent la pop. Adepte des artistes emblématiques tels que Taylor Swift, Bruno Mars et Dua Lipa, Julien trouve dans la pop une source constante d'énergie positive. Les arrangements soignés, les paroles émotionnelles et les rythmes entraînants font de la pop la bande sonore parfaite pour ses journées.</p>
        </div>
    </div>

    <div class="picture-zone">
        <img src="img/avatar2.png" class="picture-left" />
        <div class="paragraph-right">
            <h2>&emsp;Erman Kaygi</h2>
            <p>Erman vibre au rythme du rap américain. Son amour pour le genre s'étend des légendes du hip-hop comme Tupac Shakur et The Notorious B.I.G. aux icônes contemporaines telles que Kendrick Lamar et Cardi B. Pour Erman, le rap va bien au-delà des mots rapides et des beats percutants. C'est un moyen d'explorer des récits authentiques, de comprendre la réalité urbaine et de ressentir l'expression artistique à travers les flows uniques des artistes. Pour elle, le rap US est une forme d'art puissante qui transcende les frontières culturelles et inspire une connexion profonde avec la musique.</p>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p><a href="a-propos.html" id="a-propos" style="color:white; font-size:15px;"><br>Qui sommes-nous ?</a></p>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
        <a href=""><i class="fab fa-snapchat"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <p> Développé par <strong>Julien Vieillevigne et Erman Kaygi.</strong></p>
    </footer>
</body>

</html>
